*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-container{
    margin: 20px auto;
    /* border-style: solid; */
    margin: 30px auto;
    text-align: center;
    height: auto;
    width: 1080px;
    padding-bottom: 50px;
}

.header-container{
    margin: 40px auto;
    /* border-style: solid; */
}

.body-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card{
    width: 400px;
    height: 400px;
    border-style: solid;
    border-radius: 30px;
}