*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-container{
    justify-content: center;
    margin: 50px auto;
    width: 1000px;
    border-style: solid;
    background-color: rgb(15, 173, 173);
    border-radius: 10px;
}

h1{
    text-align: center;
}

#body-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border-style: solid; */
}

#map-section{
    border-style: solid;
    gap: 20px;  
    padding: 10px;
    width: 900px;
    height: 400px;
    display: flex;
}

#details-section{
    /* border-style: solid; */
    padding: auto;
    width: 900px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.map{
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 130px;
    color: antiquewhite;
}

.city{
    border-style: solid;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: 20px;
}

